.PrestecMaterialEsportiu-admin {
	
}

h2.titol {
		padding-top:15px;
		text-align: center;
}

div label.edit {
		text-align: center;
}

a.email {
		color: blue;
}

#loan-data{
	display:none;
}



#member-fields{
	.quantity{
		display:none;
	}	
	.loan-materials{
		display:none;
	}
}
#leyenda{
	div{
		margin:auto;
	}
}

